name: Benchmark

on:
  push:
    branches:
      - benchmark*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark-official-setup-dotnet:
    name: Official setup-dotnet
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: |
            10.0.x
            9.0.x
            8.0.x
            7.0.x
            6.0.x
            3.1.x
            2.1.x

      - run: dotnet --list-sdks

  benchmark-fast-actions-sdk:
    name: fast-actions/setup-dotnet
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: ./
        with:
          sdk-version: |
            10.0.x
            9.0.x
            8.0.x
            7.0.x
            6.0.x
            3.1.x
            2.1.x
          cache: false

      - run: dotnet --list-sdks
